---
# roles/auditd/handlers/main.yml

- name: Reload audit rules
  command: augenrules --load
  become: true
  notify: Restart auditd

- name: Restart auditd
  systemd:
    name: auditd
    state: restarted
  become: true
