[Unit]
Description=Sysmon for Linux
After=network.target

[Service]
Type=simple
ExecStart={{ sysmon_bin_path }} -c {{ sysmon_config_path }}
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
