[Unit]
Description=Sysmon for Linux
Documentation=https://github.com/microsoft/SysmonForLinux
After=network.target syslog.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/sysmon
# Reload dersen config dosyasını tekrar okur
ExecReload=/usr/bin/sysmon -c {{ sysmon_config_path }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target