---
# roles/auditd/tasks/main.yml

- name: Install auditd
  package:
    name: auditd
    state: present
  become: true

- name: Ensure auditd service is enabled and running
  systemd:
    name: auditd
    enabled: yes
    state: started
  become: true

- name: Deploy audit rules file
  template:
    src: audit.rules.j2
    dest: "{{ audit_rules_path }}"
    owner: root
    group: root
    mode: '0640'
  notify:
    - Reload audit rules
  become: true
