---
# roles/auditd/tasks/main.yml

- name: Install auditd
  package:
    name: auditd
    state: present
  become: true

- name: Deploy auditd configuration file
  template:
    src: auditd.conf.j2
    dest: /etc/audit/auditd.conf
    owner: root
    group: root
    mode: '0640'
  # Yapılandırma dosyası değiştiğinde Auditd'yi yeniden başlat
  notify: Restart auditd
  become: true

- name: Ensure auditd service is enabled and running
  systemd:
    name: auditd
    enabled: yes
    state: started
  become: true

- name: Deploy audit rules file
  template:
    src: audit.rules.j2
    dest: "{{ audit_rules_path }}"
    owner: root
    group: root
    mode: '0640'
  notify:
    - Reload audit rules
  become: true

- name: Check for auditd/audisp syslog plugin configuration
  stat:
    path: /etc/audit/plugins.d/syslog.conf
  register: audit_syslog_new_path

- name: Set auditd syslog plugin path variable
  set_fact:
    audit_syslog_conf_path: "{{ '/etc/audit/plugins.d/syslog.conf' if audit_syslog_new_path.stat.exists else '/etc/audisp/plugins.d/syslog.conf' }}"

- name: Disable audispd syslog plugin to prevent log duplication
  ini_file:
    path: "{{ audit_syslog_conf_path }}"
    section: null
    option: active
    value: 'no'
    mode: '0644'
  become: true
  notify: Restart auditd
  ignore_errors: true # In case file doesn't exist at all (rare, but safe)