---
# Handlers for Sysmon for Linux role

- name: Reload systemd
  systemd:
    daemon_reload: yes
  become: true

- name: Restart sysmon
  systemd:
    name: "{{ sysmon_service_name | default('sysmon') }}"
    state: restarted
    enabled: yes
  become: true
